{% extends 'base.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block body %}
<style>
    .pagination-square {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    border: 2px solid hwb(340 16% 55%);
    border-radius: 5px;
    background-color: #f8f9fa; /* Couleur de fond */
    color: #333; /* Couleur du texte */
    margin-right: 5px; /* Espacement entre les carrés */
}</style>
<div class="container mt-5">
    <div class="d-flex flex-column align-items-start">
        <!-- Formulaire de recherche -->
        <form action="{{ path('frontmetier') }}" method="get">
            <input type="text" name="search" id="searchInput" placeholder="Search...">
            <input type="date" name="date" id="dateInput">
            <button type="submit" id="resetDateFilterButton"> filter</button>
        </form>
    </div>
    
    <div class="row">
        {% for publication in p %}
            <div class="col-md-3 mb-4"> {# Adjusted column size for 4 publications per row #}
                <div class="card">
                    <div class="card-body">
                        <span style="color: rgb(241, 8, 125);">Titre: {{ publication.titre }} </span>
                        <div class="card-footer text-muted text-right">
                            <span style="color: rgb(241, 8, 125);"> {{ publication.datepub|date('Y-m-d H:i') }}</span>
                        </div>
                        {% if publication.image %}
                            <img src="{{ asset('uploads/' ~ publication.image) }}" alt="Publication Image" class="img-fluid mb-3 publication-image">
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted text-right">
                        <a href="{{ path('app_publication_show', {'id': publication.id}) }}" style="text-decoration: underline;">Voir plus de détails</a>
                    </div>
                </div>
            </div>
            {% if loop.index % 4 == 0 %}
                </div><div class="row">
            {% endif %}
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    No records found.
                </div>
            </div>
        {% endfor %}
    </div>

    {# Pagination Navigation #}
    <div class="row mt-4">
        <div class="col-md-4"></div> {# Colonne vide à gauche de la pagination #}
        <div class="col-md-4 text-center"> {# Colonne pour la pagination, centrée #}
            {{ knp_pagination_render(p) }}
        </div>
        <div class="col-md-4"></div> {# Colonne vide à droite de la pagination #}
    </div>
</div>

{% endblock %}
